{% extends 'elts/base.html' %}

{% block title %}Create Item{% endblock %}

{% block body %}
    <h1>Create Item</h1>
    {% if errors %}
        <p>The following errors prevented an item from being created:</p>
        <ul>
            {% for error in errors %}
                <li>error</li>
            {% endfor %}
        </ul>
    {% endif %}
    <form method='post' action='{% url 'elts.views.item' %}'>
        <fieldset>
            <legend>Item Details</legend>
            <p>
                <label for='name'>Name</label>
                <br />
                <input id='name' name='name' type='text' value='{{ name }}'/>
            </p>
            <p>
                <label for='description' >Description</label>
                <br />
                <textarea id='description' name='description'></textarea>
            </p>
        </fieldset>
        <p>
            <button>Submit</button>
            <button>Cancel</button>
        </p>
    </form>
{% endblock %}
