/* Style the prev/this/next month links above the calendar. */
p.calendar-nav {
    display: flex;
    justify-content: space-around;
    }

/* Make the nav links, calendar-head and calendar-body press together. */
p.calendar-nav {margin-bottom: 0;}
ol.calendar-head {margin-top: 0; margin-bottom: 0;}
ol.calendar-body {margin-top: 0;}

/* Make room for calendar contents. */
ol.calendar-head {padding-top:    0.2em;}
ol.calendar-body {padding-bottom: 0.2em;}
ol.calendar-head,
ol.calendar-body {
    padding-left: 0.2em;
    padding-right: 0.2em;
    }

/* Style the calendars as a whole. Set borders, background images, etc. */
ol.calendar-head,
ol.calendar-body {
    list-style-type: none;
    /* padding-left: 0; Do not override setting above. */
    background: url('backgroundtrans.png'); /* transparent version of bg img */
    }
ol.calendar-head {
    border-left: thin solid black;
    border-top: thin solid black;
    border-right: thin solid black;
    border-top-left-radius: 0.3em;
    border-top-right-radius: 0.3em;
    }
ol.calendar-body {
    border-right: thin solid black;
    border-bottom: thin solid black;
    border-left: thin solid black;
    border-bottom-right-radius: 0.3em;
    border-bottom-left-radius: 0.3em;
    }

/* Style the calendar cells. */
ol.calendar-body ul {
    list-style-type: none;
    padding-left: 0;
    }

/* Structure the calendar to appear as a grid.
 *
 * Make each calendar cell 1/7th of available width, minus margin-left,
 * margin-right, padding-left and padding-right.
 */
ol.calendar-head {display: flex;}
ol.calendar-body {display: flex; flex-flow: row wrap;}
ol.calendar-head > li,
ol.calendar-body > li {
    width: calc(14.28% - 4px);
    margin: 1px;
    padding-left: 1px;
    padding-right: 1px;
    background-color: white;
    }
ol.calendar-head > li {text-align: center;}
ol.calendar-body > li {height: 6em;}

/* Position the first calendar cell.
 *
 * Give a left margin to the first calendar cell. Set the margin to 1/7th of
 * available width, plus a little extra for margin. The "little extra" must
 * match *exactly* the left margin given in the previous block of rules.
 *
 * Only the first cell is pushed over, even if multiple cells are given a class
 * of "mon", "tue", etc.
 */
ol.calendar-body li.mon:first-child {margin-left:               1px;}
ol.calendar-body li.tue:first-child {margin-left: calc(14.28% + 1px);}
ol.calendar-body li.wed:first-child {margin-left: calc(28.57% + 1px);}
ol.calendar-body li.thu:first-child {margin-left: calc(42.85% + 1px);}
ol.calendar-body li.fri:first-child {margin-left: calc(57.14% + 1px);}
ol.calendar-body li.sat:first-child {margin-left: calc(71.42% + 1px);}
ol.calendar-body li.sun:first-child {margin-left: calc(85.71% + 1px);}

/* Make the day number in each calendar cell stand out. */
span.day_number {
    font-weight: bold;
    font-size: smaller;
    }
