/*------------------------------------------------------------------------------
 * Basic Layout
 *
 * The following rules specify rules that can be applied to all pages in the
 * entire app, with the exception of the login page.
 *----------------------------------------------------------------------------*/

/* It is assumed that the body sits flush against the browser viewport. */
body {
    margin: 0;
    background-image: url('background.png');
    min-width: 40em;
}

/* Create a three-column page layout. The left and right columns are
 * fixed width, and the center column is variable width. The left and
 * right columns must occur before the center column in the markup.
 * Sample HTML:
 *
 *     <nav>...</nav>
 *     <section id='shortcuts'>...</section>
 *     <section id='content'>...</section>
 */
nav {
    width: 7em;
    float: left;
    clear: left;
}
section#shortcuts {
    width: 14em;
    float: right;
    clear: right;
}
section#content {
    margin-left: 8em;
    margin-right: 15em;
}

/* Style all three columns. */
nav > *,
section#shortcuts > *,
section#content > * {
    background-color: rgba(255, 255, 255, 1); /* white */
    padding: 0.3em;
}

/* Style the left column. */
nav > * {
    margin-top: 0;
    margin-bottom: 0;
    border-right:  medium solid black;
    border-bottom: medium solid black;
    border-bottom-right-radius: 0.5em;
}
nav ul {
    width: 70%;
    list-style-type: none;
}
nav img {width: 100%;}

/* Style the right column.
 *
 * The first two children are visually distinct from all remaining children. Sample HTML:
 *
 *     <p>...</p>
 *     <form><button></button></form>
 *     <p>...</p>
 *     <p>...</p>
 *     <p>...</p>
 */
section#shortcuts p:first-child,
section#shortcuts form {
    margin-top: 0;
    margin-bottom: 0;
    border-left: medium solid black;
    border-bottom: medium solid black;
    border-bottom-left-radius: 0.5em;
}
section#shortcuts form {
    width: 70%;
    margin-left: auto;
}
section#shortcuts form button {width: 100%;}
section#shortcuts p:not(:first-child) {
    border: medium solid black;
    border-radius: 0.5em;
}

/* Style the center column. */
section#content > h1 {
    margin-top: 0;
    border-right: medium solid black;
    border-bottom: medium solid black;
    border-left: medium solid black;
    border-bottom-right-radius: 0.5em;
    border-bottom-left-radius: 0.5em;
}
section#content > div {
    border: medium solid black;
    border-radius: 0.5em;
}

/*------------------------------------------------------------------------------
 * Tables
 *----------------------------------------------------------------------------*/
th, td {
    padding: 0.5em;
    border-bottom: thin solid steelblue;
}

/*------------------------------------------------------------------------------
 * Clearfix
 *
 * The famous and essential clearfix, used to make a block wrap floated content.
 * See more here: http://csscreator.com/attributes/containedfloat.php
 *----------------------------------------------------------------------------*/
.floatcontainer:after {
    /* Create some "block" content, */
    content: '.';
    display: block;
    /* make it invisible */
    height: 0;
    font-size: 0;
    visibility: hidden;
    /* and force `.floatcontainer` to expand and contain it. */
    clear: both;
}
