/* Style the prev/this/next month links above the calendar. */
p.calendar-nav {
    display: flex;
    margin-bottom: 0;
    }
p.calendar-nav a {
    flex-grow: 1;
    text-align: center;
    }

/* Styles for all calendars.
 *
 * Set `margin:0` so two calendars can be stacked on top of each other. The
 * first calendar tells the days of the week, and the second gives information
 * about each day of the month.
 *
 * Chrom(e/ium) will place a `li`'s number/bullet if that `li` is floated. Set
 * `list-style-type:none` to compensate.
 */
ol.calendar-head,
ol.calendar-body {
    margin: 0;
    padding: 0.2em;
    list-style-type: none;
    background: url('backgroundtrans.png'); /* transparent version of bg img */
    }

ol.calendar-head {
    border-left: thin solid black;
    border-top: thin solid black;
    border-right: thin solid black;
    border-top-left-radius: 0.3em;
    border-top-right-radius: 0.3em;
    }
ol.calendar-body {
    border-right: thin solid black;
    border-bottom: thin solid black;
    border-left: thin solid black;
    border-bottom-right-radius: 0.3em;
    border-bottom-left-radius: 0.3em;
    }

/* Make a grid-based calendar.
 *
 * Each day of the month is displayed as a single cell. Each cell is exactly
 * 14.25% wide, so seven cells consume 99.75% of available space. (7 * 14.25 ==
 * 99.75) Use a box-shadow to outline each cell, because box-shadows don't
 * contribute to the width of an element.
 */
ol.calendar-head > li,
ol.calendar-body > li {
    float: left;
    width: 12.75%;
    margin: 0;
    padding: 0.5em 0.5%;
    margin: 0.1em 0.25%;
    background-color: white;
    }

/* Give a height to cells in the second calendar. */
ol.calendar-body > li {
    height: 6em;
    overflow: hidden;
    }

/* Give a left margin to a calendar cell.
 *
 * All calendar cells are floats. If one cell is pushed over, all remaining
 * cells are also pushed over. Here's the pseudo-code used to calculate margins:
 *
 *     li.margin-left = li.width * (li.index - 1)
 *
 * Only the first cell in a calendar is pushed over, even if multiple cells are
 * given a class of "mon", "tue", etc.
 */
ol.calendar-body li.mon:first-child {margin-left: 0;}
ol.calendar-body li.tue:first-child {margin-left: 14.25%;}
ol.calendar-body li.wed:first-child {margin-left: 28.5%;}
ol.calendar-body li.thu:first-child {margin-left: 42.75%;}
ol.calendar-body li.fri:first-child {margin-left: 57%;}
ol.calendar-body li.sat:first-child {margin-left: 71.25%;}
ol.calendar-body li.sun:first-child {margin-left: 85.5%;}

/* Make the day number in each calendar cell stand out. */
span.day_number {
    font-weight: bold;
    font-size: smaller;
    vertical-align: top;
    text-decoration: underline;
    }

/* Style the list of lends within each calendar cell. */
ol.calendar-body ul {
    list-style-type: none;
    padding-left: 0;
    }
