/* This stylesheet can be used with any of the "object id" templates, such as
 * tag-id.html or lend-id.html.
 *
 * Sample HTML:
 *
 *     <h1>Lend 15</h1>
 *     <p><a>Edit</a> or <a>Delete</a></p>
 *     <table>
 *         <tbody>...</tbody>
 *     </table>
 *     <h2>Notes About This Lend</h2>
 *     <!-- h3, p, and blockquote may occur zero or more times -->
 *     <h3>On Jan 1st, 1970, 12:00 a.m., God said:</h3>
 *     <p><a>Edit</a> or <a>Delete</a></p>
 *     <blockquote>...</blockquote>
 *     <h2>Create A Note</h2>
 *     <form>
 *         <label>Is complaint:</label>
 *         <input type=checkbox>
 *         <label>Note text:</label>
 *         <textarea></textarea>
 *         <p><button>Submit</button></p>
 *     </form>
 */

/* For the headline at the top of the page. */
h1:first-child {margin-bottom: 0;}
h1:first-child + p {margin-top: 0;}

/* For the headline above each blockquote. */
h3 {margin-bottom: 0;}
h3 + p {margin-top: 0;}
h3, h3 + p {font-size: 90%;}
