{# For {% static 'path/to/resource.ext' %} tag #}
{% load staticfiles %}
<!DOCTYPE HTML>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{% block title %}FIXME{% endblock %}</title>
        <link rel="stylesheet" href="{% static 'elts/base.css' %}" />
        {{ head }}
    </head>
    <body>
        <div class="navbar">
            <h1>Site Nav</h1>
            <ul>
                <li><a  href="{%  url  'elts.views.index'        %}">Home</a></li>
                <li><a  href="{%  url  'elts.views.calendar'     %}">Calendar</a></li>
                <li><a  href="{%  url  'elts.views.item'         %}">Items</a></li>
            </ul>
        </div>
        {% block body %}
        <p>Replace this default text by inheriting the 'base.html' template and
        creating a 'block body'.</p>
        {% endblock %}
    </body>
</html>
