{% extends 'elts/base.html' %}

{% block title %}{{ item.name }}{% endblock %}

{% block body %}
    <h1>{{ item.name }}</h1>
    {% if item %}
        <p>Are you <strong>sure</strong> you want to delete this item?</p>
        <form method='post' action='{% url 'elts.views.item_id' item.id %}'>
            {% csrf_token %}
            <input type='hidden' name='method_override' value='DELETE' />
            <p><button>Submit</button></p>
        </form>
    {% else %}
        <p>Item {{ item.id }} does not exist.</p>
    {% endif %}
{% endblock %}
