{% extends 'elts/base.html' %}

{% load tag_tools %}

{% block title %}Tag {{ tag.id }}{% endblock %}

{% block body %}
    <h1>Tag {{ tag.id }}</h1>
    {% if tag %}
        <h2>Name</h2>
        <p>{{ tag.name }}</p>
        <h2>Description</h2>
        <p>{{ tag.description|default:"No description." }}</p>
        <h2>Items</h2>
        <ul>
            {% for item in tag|tag_items %}
                <li>{{ item|item_link|safe }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Tag {{ tag.id }} does not exist.</p>
    {% endif %}
{% endblock %}
