{% load static from staticfiles %}

<!DOCTYPE HTML>
<html lang='en'>
    <head>
        <meta charset='utf-8'>
        <title>{% block title %}{% endblock %}</title>
        <link rel='stylesheet' href='{% static 'elts/site-wide.css' %}' />
        <link rel='stylesheet' href='{% static 'elts/base.css' %}' />
        {% block head %}{% endblock %}
    </head>
    <body>
        <section id='shortcuts'>
            <form method='post' action='{% url 'elts.views.login' %}'>
                {% csrf_token %}
                <input type='hidden' name='_method' value='DELETE' />
                <button>log out {{user.username}}</button>
            </form>
            <!-- FIXME: show priority categories -->
            <p>
                Create a <a href='{% url 'elts.views.category_create_form' %}'>
                new category</a>.
            </p>
        </section>
        <nav id='sitenav'>
            <p>
                <img src='{% static 'elts/award.png' %}' alt='placeholder icon' />
            </p>
            <ul>
                <li>
                    <a href='{% url 'elts.views.index' %}'>
                        <img src='{% static 'elts/today.png' %}' alt='current events' />
                    </a>
                </li>
                <li>
                    <a href='{% url 'elts.views.calendar' %}'>
                        <img src='{% static 'elts/calendar.png' %}' alt='events this month' />
                    </a>
                </li>
                <li>
                    <a href='{% url 'elts.views.item' %}'>
                        <img src='{% static 'elts/item.png' %}' alt='items' />
                    </a>
                </li>
                <li>
                    <a href='{% url 'elts.views.tag' %}'>
                        <img src='{% static 'elts/tags.png' %}' alt='tags' />
                    </a>
                </li>
                <li>
                    <a href='{% url 'elts.views.lend' %}'>
                        <img src='{% static 'elts/lend.png' %}' alt='lends & reservations' />
                    </a>
                </li>
            </ul>
        </nav>
        <nav id='breadcrumb'>
            <ol>
                {% block breadcrumb %}
                    <li>REPLACE ME</li>
                    <li>REPLACE ME</li>
                    <li>REPLACE ME</li>
                {% endblock %}
            </ol>
        </nav>
        <section id='content'>
            <div>
                {% block body %}<h1>REPLACE ME</h1>{% endblock %}
            </div>
        </section>
    </body>
</html>
