{# Allows {% static 'path/to/resource.ext' %} tag to be used. #}
{% load staticfiles %}

<!DOCTYPE HTML>
<html lang='en'>
    <head>
        <meta charset='utf-8'>
        <title>{% block title %}{% endblock %}</title>
        <link rel='stylesheet' href='{% static 'elts/base.css' %}' />
        {% block head %}{% endblock %}
    </head>
    <body>
        <div id='navbar'>
            <h1>Site Nav</h1>
            <ul>
                <li><a href='{% url 'elts.views.index' %}'>Home</a></li>
                <li><a href='{% url 'elts.views.calendar' %}'>Calendar</a></li>
                <li><a href='{% url 'elts.views.item' %}'>Items</a></li>
                <li><a href='{% url 'elts.views.tag' %}'>Tags</a></li>
                <li><a href='{% url 'elts.views.lend' %}'>Lends &amp; Reservations</a></li>
            </ul>
            <p>Logged in as: {{ user.username }}</p>
            <form method='post' action='{% url 'elts.views.login' %}'>
                {% csrf_token %}
                <input type='hidden' name='_method' value='DELETE' />
                <p><button>Log Out</button></p>
            </form>
        </div>
        <div id='body'>
            {% block body %}
            <p>Replace this default text by inheriting the 'base.html' template and
            creating a 'block body'.</p>
            {% endblock %}
        </div>
    </body>
</html>
