{% load static from staticfiles %}
{% load category_items items_available category_next_due_out category_next_due_back count from category_tools %}

<!DOCTYPE HTML>
<html lang='en'>
    <head>
        <meta charset='utf-8'>
        <title>{% block title %}{% endblock %}</title>
        <link rel='stylesheet' href='{% static 'elts/site-wide.css' %}' />
        <link rel='stylesheet' href='{% static 'elts/base.css' %}' />
        {% block head %}{% endblock %}
    </head>
    <body>
        <section id='shortcuts'>
            <form method='post' action='{% url 'elts.views.login' %}'>
                {% csrf_token %}
                <input type='hidden' name='_method' value='DELETE' />
                <button>log out {{user.username}}</button>
            </form>
            {% for category in user.category_set.all %}
                <p>
                    <a href='{% url 'elts.views.category_id' category.id %}'
                        >{{ category.name }}</a><br />
                    In stock: {{ category|category_items|items_available }}/{{ category|category_items|count }}<br />
                    Next out: {{ category|category_next_due_out }}<br />
                    Next back: {{ category|category_next_due_back }}
                </p>
            {% endfor %}
            <p>
                Create a <a href='{% url 'elts.views.category_create_form' %}'
                >new category</a>.
            </p>
        </section>
        <nav id='sitenav'>
            <p>Site Logo</p>
            <ul>
                <li><a href='{% url 'elts.views.calendar' %}'>Calendar</a></li>
                <li><a href='{% url 'elts.views.item' %}'>Items</a></li>
                <li><a href='{% url 'elts.views.tag' %}'>Tags</a></li>
                <li>
                    <a href='{% url 'elts.views.lend' %}'
                    >Lends & Reservations</a>
                </li>
            </ul>
        </nav>
        <nav id='breadcrumb'>
            <ol>
                {% block breadcrumb %}
                    <li>REPLACE ME</li>
                    <li>REPLACE ME</li>
                    <li>REPLACE ME</li>
                {% endblock %}
            </ol>
        </nav>
        <section id='content'>
            <div>
                {% block body %}<h1>REPLACE ME</h1>{% endblock %}
            </div>
        </section>
    </body>
</html>
