{% extends 'elts/base.html' %}

{% block title %}Update Item "{{ item.name }}"{% endblock %}
{% block breadcrumb %}
    <li><a href='{% url 'elts.views.item' %}'>Item</a></li>
    <li><a href='{% url 'elts.views.item_id' item.id %}'>{{ item.id }}</a></li>
    <li>
        <a href='{% url 'elts.views.item_id_update_form' item.id %}'
        >Update Form</a>
    </li>
{% endblock %}

{% block body %}
    <h1>Update Item "{{ item.name }}"</h1>
    {% include 'elts/_show-errors.html' %}
    <form method='post' action='{% url 'elts.views.item_id' item.id %}'>
        {% csrf_token %}
        <input type='hidden' name='_method' value='PUT' />
        {{ form.as_p }}
        <p><button>Submit</button></p>
    </form>
{% endblock %}
