{% extends 'elts/base.html' %}

{% block title %}Delete Item "{{ item.name }}"{% endblock %}
{% block breadcrumb %}
    <li><a href='{% url 'elts.views.item' %}'>Item</a></li>
    <li><a href='{% url 'elts.views.item_id' item.id %}'>{{ item.id }}</a></li>
    <li>
        <a href='{% url 'elts.views.item_id_delete_form' item.id %}'
        >Delete Form</a>
    </li>
{% endblock %}

{% block body %}
    <h1>Delete Item "{{ item.name }}"</h1>
    <p>Are you <strong>sure</strong> you want to delete this item?</p>
    <form method='post' action='{% url 'elts.views.item_id' item.id %}'>
        {% csrf_token %}
        <input type='hidden' name='_method' value='DELETE' />
        <p><button>Submit</button></p>
    </form>
{% endblock %}
