{% extends 'elts/base.html' %}
{% load item_tags related_tags item_notes tag_link from tag_tools %}

{% block title %}Item "{{ item.name }}"{% endblock %}
{% block breadcrumb %}
    <li><a href='{% url 'elts.views.item' %}'>Item</a></li>
    <li><a href='{% url 'elts.views.item_id' item.id %}'>{{ item.id }}</a></li>
{% endblock %}

{% block body %}
    <h1>Item "{{ item.name }}"</h1>
    <p class='controls'>
        You can
        <a href='{% url 'elts.views.item_id_update_form' item.id %}'>edit</a> or
        <a href='{% url 'elts.views.item_id_delete_form' item.id %}'>delete</a>
        this item.
    </p>
    {% if not item.is_lendable %}
        <p>This item is <strong>not available</strong> for lending.</p>
    {% endif %}
    {% if item.description %}
        <p>Description:</p>
        <p>{{ item.description }}</p>
    {% else %}
        <p>This item has <strong>no description</strong>.</p>
    {% endif %}
    {% if item|item_tags %}
        <p>Tags attached to this item:</p>
        <ul>
            {% for tag in item|item_tags %}
                <li>{{ tag|tag_link|safe }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    {% if item|related_tags %}
        <p>Related tags:</p>
        <ul>
            {% for tag in item|related_tags %}
                <li>{{ tag|tag_link|safe }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <h2>Notes About This Tag</h2>
    {% if item|item_notes %}
        {% for note in item|item_notes %}
            <article>
                <p>
                    Comment by {{user.username}} - {{ note.note_date }}<br />
                    <a href='{% url 'elts.views.item_note_id_update_form' note.id %}'>
                        Update
                    </a>
                    -
                    <a href='{% url 'elts.views.item_note_id_delete_form' note.id %}'>
                        Delete
                    </a>
                </p>
                <p>{{ note.note_text }}</p>
            </article>
        {% endfor %}
    {% else %}
        <p>No notes.</p>
    {% endif %}
    <h3>Create A Note</h3>
    <form method='post' action='{% url 'elts.views.item_note' %}'>
        {% csrf_token %}
        <input type='hidden' name='item_id' value='{{item.id}}' />
        {{ form.as_p }}
        <p><button>Submit</button></p>
    </form>
{% endblock %}
