{% extends 'elts/base.html' %}

{% load tag_tools %}

{% block title %}{{ item.name }}{% endblock %}

{% block body %}
    <h1>Lend {{ lend.id }}</h1>
    <dl>
        <dt>Item</dt>
        <dd>{{ lend.item_id }}</dd>
        <dt>User</dt>
        <dd>{{ lend.user_id }}</dd>
        <dt>Out (reserved)</dt>
        <dd>{{ lend.out_reservation }}</dd>
        <dt>Out (actual)</dt>
        <dd>{{ lend.out_actual }}</dd>
        <dt>Back (reserved)</dt>
        <dd>{{ lend.back_reservation }}</dd>
        <dt>Back (actual)</dt>
        <dd>{{ lend.back_actual }}</dd>
    </dl>
{% endblock %}
