{% extends 'elts/base.html' %}
{% load lend_notes from tag_tools %}
{% load label from model_tools %}
{% load static from staticfiles %}

{% block title %}Lend {{ lend.id }}{% endblock %}
{% block head %}
    <link rel='stylesheet' href='{% static 'elts/lend-id.css' %}' />
    <link rel='stylesheet' href='{% static 'elts/object-id.css' %}' />
{% endblock %}
{% block breadcrumb %}
    <li><a href='{% url 'elts.views.lend' %}'>Lend</a></li>
    <li><a href='{% url 'elts.views.lend_id' lend.id %}'>{{ lend.id }}</a></li>
{% endblock %}

{% block body %}
    <h1>Lend {{ lend.id }}</h1>
    <p>
        <a href='{% url 'elts.views.lend_id_update_form' lend.id %}'>Edit</a> or
        <a href='{% url 'elts.views.lend_id_delete_form' lend.id %}'>Delete</a>
    </p>
    <table>
        <tbody>
            <tr>
                <th>{{ lend|label:"item_id"|capfirst }}</th>
                <td>{{ lend.item_id }}</td>
            </tr>
            <tr>
                <th>{{ lend|label:"user_id"|capfirst }}</th>
                <td>{{ lend.user_id }}</td>
            </tr>
            <tr>
                <th>{{ lend|label:"due_out"|capfirst }}</th>
                <td>{{ lend.due_out }}</td>
            </tr>
            <tr>
                <th>{{ lend|label:"due_back"|capfirst }}</th>
                <td>{{ lend.due_back }}</td>
            </tr>
            <tr>
                <th>{{ lend|label:"out"|capfirst }}</th>
                <td>{{ lend.out }}</td>
            </tr>
            <tr>
                <th>{{ lend|label:"back"|capfirst }}</th>
                <td>{{ lend.back }}</td>
            </tr>
        </tbody>
    </table>
    <h2>Notes About This Lend</h2>
    {% if lend|lend_notes %}
        {% for note in lend|lend_notes %}
            <h3>On {{ note.note_date}}, {{ user.username }} said:</h3>
            <p>
                <a href='{% url 'elts.views.lend_note_id_update_form' note.id %}'>
                Edit</a> or
                <a href='{% url 'elts.views.lend_note_id_delete_form' note.id %}'>
                Delete</a>
            </p>
            <blockquote>{{ note.note_text }}</blockquote>
        {% endfor %}
    {% else %}
        <p>No notes.</p>
    {% endif %}
    <h2>Create A Note</h2>
    <form method='post' action='{% url 'elts.views.lend_note' %}'>
        {% csrf_token %}
        <input type='hidden' name='lend_id' value='{{lend.id}}' />
        {{ form.as_p }}
        <p><button>Submit</button></p>
    </form>
{% endblock %}
