{% extends 'elts/base.html' %}

{% block title %}Update Lend {{ lend.id }}{% endblock %}

{% block breadcrumb %}
    <li><a href='{% url 'elts.views.lend' %}'>Lend</a></li>
    <li><a href='{% url 'elts.views.lend_id' lend.id %}'>{{ lend.id }}</a></li>
    <li><a href='{% url 'elts.views.lend_id_update_form' lend.id %}'>Update Form</a></li>
{% endblock %}

{% block body %}
    <h1>Update Lend {{ lend.id }}</h1>
    {% include 'elts/_show-errors.html' %}
    <form method='post' action='{% url 'elts.views.lend_id' lend.id %}'>
        {% csrf_token %}
        <input type='hidden' name='_method' value='PUT' />
        {{ form.as_p }}
        <p><button>Submit</button></p>
    </form>
{% endblock %}
