{% extends 'elts/base.html' %}
{% load lend_notes from tag_tools %}
{% load label from model_tools %}

{% block title %}Lend {{ lend.id }}{% endblock %}
{% block breadcrumb %}
    <li><a href='{% url 'elts.views.lend' %}'>Lend</a></li>
    <li><a href='{% url 'elts.views.lend_id' lend.id %}'>{{ lend.id }}</a></li>
{% endblock %}

{% block body %}
    <h1>Lend {{ lend.id }}</h1>
    <p class='controls'>
        You can
        <a href='{% url 'elts.views.lend_id_update_form' lend.id %}'>edit</a> or
        <a href='{% url 'elts.views.lend_id_delete_form' lend.id %}'>delete</a>
        this lend.
    </p>
    <dl>
        <dt>{{ lend|label:"item_id"|capfirst }}</dt>
        <dd>{{ lend.item_id }}</dd>
        <dt>{{ lend|label:"user_id"|capfirst }}</dt>
        <dd>{{ lend.user_id }}</dd>
        <dt>{{ lend|label:"due_out"|capfirst }}</dt>
        <dd>{{ lend.due_out }}</dd>
        <dt>{{ lend|label:"due_back"|capfirst }}</dt>
        <dd>{{ lend.due_back }}</dd>
        <dt>{{ lend|label:"out"|capfirst }}</dt>
        <dd>{{ lend.out }}</dd>
        <dt>{{ lend|label:"back"|capfirst }}</dt>
        <dd>{{ lend.back }}</dd>
    </dl>
    <h2>Notes About This Lend</h2>
    {% if lend|lend_notes %}
        {% for note in lend|lend_notes %}
            <section>
                <p>
                    Comment by {{user.username}} on {{ note.note_date }}<br />
                    <a href='{% url 'elts.views.lend_note_id_update_form' note.id %}'>
                    Edit</a> or
                    <a href='{% url 'elts.views.lend_note_id_delete_form' note.id %}'>
                    Delete</a> this comment.
                </p>
                <p>{{ note.note_text }}</p>
            </section>
        {% endfor %}
    {% else %}
        <p>No notes.</p>
    {% endif %}
    <h3>Create A Note</h3>
    <form method='post' action='{% url 'elts.views.lend_note' %}'>
        {% csrf_token %}
        <input type='hidden' name='lend_id' value='{{lend.id}}' />
        {{ form.as_p }}
        <p><button>Submit</button></p>
    </form>
{% endblock %}
