{% extends 'elts/base.html' %}

{% load tag_tools %}

{% block title %}Lends &amp; Reservations{% endblock %}

{% block body %}
    <h1>Lends &amp; Reservations</h1>
    <p>
        If you are lending out an item which has been reserved, find that
        reservation in the list below and click the "Edit" button. If you are
        lending out out and item which has not been reserved, or if you are
        creating a new item reservation, fill out
        <a href='{% url 'elts.views.lend_create_form' %}'>this form</a>.
    </p>
    {% if lends %}
        <table>
            <caption>Existing Lends &amp; Reservations</caption>
            <thead>
                <tr>
                    <th>Item</th>
                    <th>User</th>
                    <th>Out (reserved)</th>
                    <th>Out (actual)</th>
                    <th>Back (reserved)</th>
                    <th>Back (actual)</th>
                    <th>Links</th>
                </tr>
            </thead>
            <tbody>
                {% for lend in lends %}
                    <tr>
                        <td>{{ lend.item_id }}</td>
                        <td>{{ lend.user_id }}</td>
                        <td>{{ lend.out_reservation }}</td>
                        <td>{{ lend.out_actual }}</td>
                        <td>{{ lend.back_reservation }}</td>
                        <td>{{ lend.back_actual }}</td>
                        <td>
                            <a href='{% url 'elts.views.lend_id' lend.id %}'>Details</a>
                            <a href='{% url 'elts.views.lend_id_update_form' lend.id %}'>Edit</a>
                            <a href='{% url 'elts.views.lend_id_delete_form' lend.id %}'>Delete</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No lends in database.</p>
    {% endif %}
{% endblock %}
