{% extends 'elts/base.html' %}
{% load tag_tools %}

{% block title %}Tag "{{ tag.name }}"{% endblock %}

{% block breadcrumb %}
    <li><a href='{% url 'elts.views.tag' %}'>Tag</a></li>
    <li><a href='{% url 'elts.views.tag_id' tag.id %}'>{{ tag.id }}</a></li>
{% endblock %}

{% block body %}
    <h1>Tag "{{ tag.name }}"</h1>
    <p>{{ tag.description|default:"No description." }}</p>
    <h2>Items</h2>
    <ul>
        {% for item in tag|tag_items %}
            <li>{{ item|item_link|safe }}</li>
        {% endfor %}
    </ul>
{% endblock %}
