{% extends 'elts/base.html' %}

{% block title %}Create Tag{% endblock %}

{% block breadcrumb %}
    <li><a href='{% url 'elts.views.tag' %}'>Tag</a></li>
    <li><a href='{% url 'elts.views.tag_create_form' %}'>Create Form</a></li>
{% endblock %}

{% block body %}
    <h1>Create Tag</h1>
    {% include 'elts/_show-errors.html' %}
    <form method='post' action='{% url 'elts.views.tag' %}'>
        {% csrf_token %}
        {{ form.as_p }}
        <p><button>Submit</button></p>
    </form>
{% endblock %}
