{% extends 'elts/base.html' %}
{% load tag_items item_link from tag_tools %}
{% load static from staticfiles %}

{% block title %}Tag "{{ tag.name }}"{% endblock %}
{% block head %}
    <link rel='stylesheet' href='{% static 'elts/object-id.css' %}' />
{% endblock %}
{% block breadcrumb %}
    <li><a href='{% url 'elts.views.tag' %}'>Tag</a></li>
    <li><a href='{% url 'elts.views.tag_id' tag.id %}'>{{ tag.id }}</a></li>
{% endblock %}

{% block body %}
    <h1>Tag "{{ tag.name }}"</h1>
    <p class='controls'>
        <a href='{% url 'elts.views.tag_id_update_form' tag.id %}'>Edit</a> or
        <a href='{% url 'elts.views.tag_id_delete_form' tag.id %}'>Delete</a>
    </p>
    {% if tag.description %}
        <p>{{ tag.description }}</p>
    {% else %}
        <p>This tag has <strong>no description</strong>.</p>
    {% endif %}

    <h2>Items Using This Tag</h2>
    {% if tag|tag_items %}
        <ul>
            {% for item in tag|tag_items %}
                <li>{{ item|item_link|safe }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <p><strong>No items</strong> use this tag.</p>
    {% endif %}
{% endblock %}
