{% extends 'elts/base.html' %}
{% load render_table from django_tables2 %}
{% load static from staticfiles %}

{% block title %}Tags{% endblock %}
{% block head %}
    <link rel='stylesheet' href='{% static 'elts/object.css' %}' />
{% endblock %}
{% block breadcrumb %}
    <li><a href='{% url 'elts.views.tag' %}'>Tag</a></li>
{% endblock %}

{% block body %}
    <h1>Tags</h1>
    <p>
        You can create a new tag
        <a href="{% url 'elts.views.tag_create_form' %}">here</a>.
    </p>
    {% render_table table %}
{% endblock %}
