{% extends 'elts/base.html' %}
{% load tag_tools %}
{% load model_tools %}

{% block title %}Tags{% endblock %}

{% block body %}
    <h1>Tags</h1>
    <p>You can create a new tag
    <a href="{% url 'elts.views.tag_create_form' %}">here</a>.</p>
    {% if tags %}
        <table>
            <thead>
                <tr>
                    <th>{{ tags|first|label:"name"|capfirst }}</th>
                    <th>{{ tags|first|label:"description"|capfirst }}</th>
                    <th>Links</th>
                </tr>
            </thead>
            <tbody>
                {% for tag in tags %}
                    <tr>
                        <td>{{ tag.name }}</td>
                        <td>{{ tag.description|truncatechars:80 }}</td>
                        <td>
                            <a href="{% url 'elts.views.tag_id' tag.id %}">Details</a>
                            <a href="{% url 'elts.views.tag_id_update_form' tag.id %}">Edit</a>
                            <a href="{% url 'elts.views.tag_id_delete_form' tag.id %}">Delete</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No tags in database.</p>
    {% endif %}
{% endblock %}
