select option {
    min-width: 10em;
}

div#navbar {
    float: left;
    width: 12em;
}

div#navbar h1 {
    margin-top: 0;
}

div#navbar ul {
    list-style-type: none;
    padding-left: 0.5em;
    line-height: 150%;
    font-weight: bolder;
}

div#navbar ul li a {
    text-decoration: none;
}

div#body {
    margin-left: 13em;
}

/*------------------------------------------------------------------------------
Tables
------------------------------------------------------------------------------*/
th, td {
    text-align: left;
    padding: 0.5em;
}

th {
    border-bottom: medium solid #327699;
}

td {
    border-bottom: thin solid #7AB0CC;
}

tr:hover td {
    background-color: #E6F2F7;
}
