{% extends 'elts/base.html' %}
{% load render_table from django_tables2 %}
{% load static from staticfiles %}

{% block title %}Items{% endblock %}
{% block head %}
    <link rel='stylesheet' href='{% static 'elts/object.css' %}' />
{% endblock %}
{% block breadcrumb %}
    <li><a href='{% url 'elts.views.item' %}'>Item</a></li>
{% endblock %}

{% block body %}
    <h1>Items</h1>
    <p>
        You can create a new item <a
        href='{% url 'elts.views.item_create_form' %}'>here</a>.
    </p>
    {% render_table table %}
{% endblock %}
